<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS010_ASHWITHA/Workshopday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to find the largest number in a list.

In [2]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:4
Enter element:6
Enter element:8
Enter element:8
Enter element:6
Largest element is: 8

Python Program to put the even and odd elements in a list into two different lists.

In [3]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  even=[]
  odd=[]
  for j in a:
    if(j%2==0):
      even.append(j)
    else:
      odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:8
Enter element:9
Enter element:9
The even list [8]
The odd list [9, 9]

Python Program to merge two lists and sort it

In [4]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
  new=a+c
  new.sort()
print("Sorted list is:",new)

Enter number of elements:2
Enter element:8
Enter element:5
Enter number of elements:3
Enter element:7
Enter element:9
Enter element:0
Sorted list is: [0, 5, 7, 8, 9]

Python Program to sort the list according to the second element in the sublist

In [5]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort

In [7]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:2
Enter element:5
Enter element:7
Second largest number is: 5

Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [8]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:5
[(4, 16), (5, 25)]

Python Program to generate random numbers from 1 to 20 and append them to the list

In [9]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:3
Randomised list is:  [17, 4, 16]

Write python program to have a list of words to sort them from longest to shortest using list of tuples

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
  t.append((len(word), word))# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)
  t.sort(reverse=True)

res = list()
for length, word in t:
  res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

Python program that assigns variables

In [12]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

Python program that searches tuples

In [13]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
  print("Cat found")

# Search for a value not present.
if "bird" not in pair:
  print("Bird not found")

Cat found
Bird not found

print multiples of 3 upto 200 using a list

In [14]:
a=[]
for i in range(3,201,3):
    a.append(i)
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [15]:
a=[]
c=[]
a=list(range(1000,2000))
for i in range(0,len(a)):
    if(a[i]%5==0 and a[i]%7==0):
        c.append(a[i])
print(c)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

Add the n number of names in a list and print them alphabetically and reverse alphabetically

In [16]:
a=[]
n=int(input("Enter n: "))
print("Enter names:")
for i in range(1,n+1):
    b=input()
    a.append(b)
a.sort()
print("names in alphabetic order:"+str(a))
a.reverse()
print("names in reverse alphabetic order:"+str(a))

Enter n: 3
Enter names:
ashwitha
anusha
akash
names in alphabetic order:['akash', 'anusha', 'ashwitha']
names in reverse alphabetic order:['ashwitha', 'anusha', 'akash']

Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x)

In [17]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Python Program to Sum All the Items in a Dictionary

In [18]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

Python Program to Remove the Given Key from a Dictionary

In [19]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
  del d[key]
else:
  print("Key not found!")
  exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):3
Key not found!
Updated dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Python Program to add name and mark as key->value pair in a Dictionary and print it

In [4]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print (d)

Enter no of records2
Enter name 1ashwitha
Enter mark 1789
Enter name 2esha
Enter mark 2980
{'ashwitha': 789, 'esha': 980}

Keys and Values example

In [5]:
d={}
print (" The dictionary elements are")
for i in range(1,21):
  d[i]=i**2
  print (d)
# To print key and values
print (" Key==> Value are")
for (k,v) in d.items():	
  print(k,"==>",v)
# To print key only
print ("\nTo print key only")
for k in d.keys():	
  print(k, end="")
#To print value only
print ("\nTo print values only")
for v in d.values():	
  print(v, end="")

 The dictionary elements are
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1234567891011121314151617181920
To print values only
149162536496481100121144169196225256289324361400

Python program to convert 2 digit number into words

In [6]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
  print(d[num])
if(num>20 and num<100):
  if num%10==0:       
    print(d[num])
  else:
    print(d[num//10*10]+""+d[num%10])

Enter the integer between 1 to 99:56
fiftysix

How to sort a dictionary by values in Python

In [7]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

Python Program to count the number of lines in a text file

In [8]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

Python Program to count the number of lines in a text file

In [ ]:
Python Program to count the number of lines in a text file

In [ ]:
fname = input("Enter file name: ")
num_lines = 0
with open(fname, 'r') as f:
  for line in f:
    num_lines += 1
print("Number of lines:")
print(num_lines)

Python Program to count the number of words in a text file

In [ ]:
fname = input("Enter file name: ")
num_words = 0
with open(fname, 'r') as f:
  for line in f:
      words = line.split()
num_words += len(words)
print("Number of words:")
print(num_words

Python Program to count the occurrences of a word in a text file

In [ ]:
fname = input("Enter file name: ")
word=input("Enter word to be searched:")
k = 0

with open(fname, 'r') as f:
for line in f:
words = line.split()
for i in words:
if(i==word):
k=k+1
print("Occurrences of the word:")
print(k)

Python Program to read the contents of the file in reverse order

In [ ]:
filename=input("Enter file name: ")

with open (filename,'r') as f:
for line in f:
  l=line.split()
  l.reverse() 
st= "".join(l)
print (st)