<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS026_MANISH-R/workshop2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SESSION 1**

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:5
Enter element:3
Enter element:4
Enter element:2
Enter element:8
Largest element is: 8


Python Program to put the even and odd elements in a list into two different lists.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  even=[]
  odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:8
Enter element:2
Enter element:4
Enter element:3
Enter element:7
Enter element:15
Enter element:16
Enter element:1
Enter element:9
The even list [2, 4, 16]
The odd list [3, 7, 15, 1, 9]

Python Program to merge two lists and sort it.

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
  new=a+c
  new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:6
Enter element:8
Enter element:7
Enter element:4
Enter element:2
Enter number of elements:2
Enter element:5
Enter element:7
Sorted list is: [2, 4, 5, 6, 7, 7, 8]


Python Program to sort the list according to the second element in the sublist.

In [ ]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:5
Enter element:7
Enter element:6
Enter element:2
Enter element:4
Enter element:5
Second largest number is: 6

Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:9
Enter the upper range:30
[(9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900)]

Python Program to generate random numbers from 1 to 20 and append them to the list.

In [ ]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [15, 10, 18, 12, 11]

**Session 2**

Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    mark=int(input("Enter mark %d: "%(i)))
    d[name]=mark
sort_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print (sort_d)

Enter n: 4
Enter name 1: jery
Enter mark 1: 30
Enter name 2: tom
Enter mark 2: 40
Enter name 3: bean
Enter mark 3: 50
Enter name 4: raju
Enter mark 4: 60
[('raju', 60), ('bean', 50), ('tom', 40), ('jery', 30)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
sort_d= sorted(d.items())
print (sort_d)

Enter n: 3
Enter name 1: jon
Enter salary 1: 40000
Enter name 2: dom
Enter salary 2: 55000
Enter name 3: rick
Enter salary 3: 56000
[('dom', 55000), ('jon', 40000), ('rick', 56000)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
sort_d= sorted(d.items(), key=operator.itemgetter(1))
print (sort_d)
print ("Sum= "+str(sum(d.values())))
print ("Max. salary= "+str(max(d.values())))
print ("Min salary= "+str(min(d.values())))
print ("Average salary= "+str(sum(d.values())/n))

Enter n: 5
Enter name 1: trump
Enter salary 1: 48000
Enter name 2: obama
Enter salary 2: 89000
Enter name 3: wick
Enter salary 3: 78000
Enter name 4: rocky
Enter salary 4: 56000
Enter name 5: pintu
Enter salary 5: 42000
[('pintu', 42000), ('trump', 48000), ('rocky', 56000), ('wick', 78000), ('obama', 89000)]
Sum= 313000
Max. salary= 89000
Min salary= 42000
Average salary= 62600.0

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
salary={x for x in d.values() if x>2000 and x<4000}
print("Salary >2000 and < 4000 is ",name,sal)

Enter n: 3
Enter name 1: ramu
Enter salary 1: 3000
Enter name 2: raki
Enter salary 2: 2500
Enter name 3: rajesh
Enter salary 3: 3500
Salary >2000 and < 4000 is  rajesh 3500