<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS043_Shetty_Rachana_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
Largest element is: 5

In [2]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  even=[]
  odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
The even list [2, 4]
The odd list [1, 3, 5]

In [5]:
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
 b=int(input("Enter element:"))
a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
 d=int(input("Enter element:"))
c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
Enter number of elements:6
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
Enter element:6
Sorted list is: [1, 2, 3, 4, 5, 5, 6]

In [6]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp

print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [8]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:4
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Second largest number is: 3

In [9]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:10
Enter the upper range:20
[(10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)]

In [10]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:4
Randomised list is:  [12, 19, 12, 17]

In [16]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
 t.append((len(word), word))

t.sort(reverse=True)

res = list()
for length, word in t:
 res.append(word)

print (res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [17]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

In [18]:
pair = ("dog", "cat")

# Search for a value.
if "cat"in pair:
  print("Cat found")

# Search for a value not present.
if "bird"not in pair:
  print("Bird not found")

Cat found
Bird not found

In [19]:
my_list = [ ('John', 40), ('Dana', 35), ('Betty', 10), ('Robby', 8), ('Jones', 20) ]
my_list.sort()
print("simple sort")
print(my_list)

simple sort
[('Betty', 10), ('Dana', 35), ('John', 40), ('Jones', 20), ('Robby', 8)]

In [20]:
import operator
my_list = [ ('John', 40), ('Dana', 35), ('Betty', 10), ('Robby', 8), ('Jones', 20) ]
my_list.sort(key =operator.itemgetter(0))
print("sort first element ascending using itemgetter ")
print(my_list)

sort first element ascending using itemgetter
[('Betty', 10), ('Dana', 35), ('John', 40), ('Jones', 20), ('Robby', 8)]

In [21]:
import operator
my_list = [ ('John', 40), ('Dana', 35), ('Betty', 10), ('Robby', 8), ('Jones', 20) ]
my_list.sort(key =operator.itemgetter(1))
print("sort second element ascending using itemgetter ")
print(my_list)

sort second element ascending using itemgetter
[('Robby', 8), ('Betty', 10), ('Jones', 20), ('Dana', 35), ('John', 40)]

In [22]:
#How to sort a dictionary by values in Python

d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

In [33]:
#Python program to convert 2 digit number   into words

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty'}
num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
 print(d[num])
if(num>20 and num<100):
 if num%10==0:       
   print(d[num])
else:
  print(d[num//10*10]+""+d[num%10])

Enter the integer between 1 to 99:2
two
two

In [1]:
#Python Program to Remove the Given Key from a Dictionary 
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)	
key=input("Enter the key to delete(a-d):")
if key in d: 
  del d[key]
else:
  print("Key not found!")
  exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):d
Updated dictionary
{'a': 1, 'b': 2, 'c': 3}

In [2]:
#Python Program to Sum All the Items in a Dictionary 
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [3]:
#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x). 
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}

In [4]:
# dict.copy()
#Returns a copy of dictionary dict

dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

In [5]:
#dict.items()
#Returns a list of dict's (key, value) tuple pairs

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [6]:
#dict.clear()
#Removes all elements of dictionary dict

dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0