<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Session-1 Program**

Program to find the largest number in a list.

In [9]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:2
Enter element:4
Enter element:1
Largest element is: 4

Python Program to put the even and odd elements in a list into two different lists.

In [3]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  even=[]
  odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:7
Enter element:9
Enter element:8
Enter element:4
Enter element:1
The even list [8, 4]
The odd list [7, 9, 1]

Python Program to merge two lists and sort it.

In [4]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
  new=a+c
  new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:4
Enter element:2
Enter element:6
Enter element:1
Enter element:8
Enter number of elements:5
Enter element:1
Enter element:5
Enter element:3
Enter element:9
Enter element:0
Sorted list is: [0, 1, 1, 2, 3, 4, 5, 6, 8, 9]

Python Program to sort the list according to the second element in the sublist.

In [5]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort.

In [6]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:2
Enter element:8
Enter element:9
Second largest number is: 8

In [2]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:1
Enter element:2
Enter element:3
Largest element is: 3

Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [7]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:8
[(4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

Python Program to generate random numbers from 1 to 20 and append them to the list.

In [8]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [11, 19, 5, 11, 10]

**Session-2 Program**

Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [10]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    mark=int(input("Enter mark %d: "%(i)))
    d[name]=mark
sort_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print (sort_d)

Enter n: 3
Enter name 1: avin
Enter mark 1: 50
Enter name 2: seela
Enter mark 2: 54
Enter name 3: roshith
Enter mark 3: 45
[('seela', 54), ('avin', 50), ('roshith', 45)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [11]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
sort_d= sorted(d.items())
print (sort_d)

Enter n: 3
Enter name 1: navin
Enter salary 1: 50000
Enter name 2: rahul
Enter salary 2: 55000
Enter name 3: praveen
Enter salary 3: 45000
[('navin', 50000), ('praveen', 45000), ('rahul', 55000)]