<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS035_Priya/Python_Workshop_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Session 1 Examples programs

Python Program to Add Two Numbers getting through key board

In [0]:
# sum of two nos
num1 = int(input("Enter first no"))
num2 = int(input("Enter second no"))

# Adding the two numbers
sum = num1 + num2

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first no10
Enter second no5
The sum of 10 and 5 is 15

Python program to check if the input year is a leap year or not

In [0]:
# To get year (integer input) from the user
year = int(input("Enter a year: "))

if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

Python Program to Generate a Random Number

In [0]:
# Program to generate a random number between 0 and 9
# import the random module
import random
print(random.randint(0,9))

2

Python Program to Convert Kilometers to Miles

In [0]:
# To take kilometers from the user, uncomment the code below
kilometers = int(input("Enter value in kilometers"))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.3f kilometers is equal to %0.3f miles' %(kilometers,miles))

Enter value in kilometers55
55.000 kilometers is equal to 34.175 miles

Python Program to Solve Quadratic Equation

In [0]:
# Solve the quadratic equation ax**2 + bx + c = 0
# importing  complex math module
import cmath

# To take coefficient input from the users
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 10
Enter b: 20
Enter c: 15
The solution are (-1-0.7071067811865476j) and (-1+0.7071067811865476j)

Python Program to find prime or not using function

In [0]:
def test_prime(n):
  if (n==1):
    return False
  elif (n==2):
    return True;
  else:
    for x in range(2,n):
      if(n % x==0):
        return False
        return True
      no=int(input("Enter the number"))
    if (test_prime(no)) is True :
      print(" {0} is a prime no".format(no))
    else:
      print(" {0} is not a prime no".format(no))

"""Calculator program"""

In [0]:
loop = 1 # 1 means loop; anything else means don't loop.
choice = 0 # This variable holds the user's choice in the menu

def add(a,b):
  return a+b 
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  return a/b

  while loop == 1:
    # Print what options you have
    print ("Welcome to calculator.py")
    print ("your options are:")
    print ("")
    print("1) Addition")
    print("2) Subtraction")
    print("3) Multiplication")
    print("4) Division")
    print("5) Quit calculator.py")
    print("")
    try:
      choice = int(input("Choose your option: "))
    except:
      print('please enter a valid number for option')
      print("")
      print("")
  if choice == 1:
    x=int(input("Enter 1st no:"))
    y = int(input("Enter 2nd no: "))
    print("The answer is ",add(x,y))

  elif choice == 2:
    x = int(input("Enter 1st no: "))
    y = int(input("Enter 2nd no: "))
    print("answer is ",sub(x,y))

  elif choice == 3:
    x = int(input("Enter 1st no: "))
    y = int(input("Enter 2nd no: "))
    print("answer is ",mul(x,y))

  elif choice == 4:
    x = int(input("Enter 1st no: "))
    y = int(input("Enter 2nd no: "))
    print("answer is ",div(x,y))

  elif choice == 5:
    loop = 0

  else:
    print("please choice a valid option from 1 to 5")
    choice=0
    print ("Thank-you for using calculator.py!")

#Exercises

Find the compound interest for the given p,n,r  (formula : p(1+n*r/100)n )

In [0]:
import cmath
p=int(input('Enter p: '))
n=int(input('Enter n: '))
r=int(input('Enter r: '))
CI=(p*(1+n*r/100))**n
print('The Compound Interest is {0}'.format(CI))

Enter p: 5
Enter n: 10
Enter r: 5
The Compound Interest is 563135147.0947266

Convert centegrade to farenheit  ( f= 9/5*c+32)

In [0]:
import cmath
c = int(input("Enter c"))
f = (9/5)*c+32
print("farhenheit value of {0} is {1}".format(c,f))

Enter c20
farhenheit value of 20 is 68.0

Find the greater of two nos

In [0]:
a = int(input("Enter a"))
b = int(input("Enter b"))
if a>b:
    print('a is greater')
else:
    print ('b is greater')

Enter a20
Enter b10
a is greater

Write a program for finding surface areas of cylinder and cone (2*PI*r*r*h, 1/3*PI*r*r*h) using function.

In [0]:
import cmath
r = int(input("Enter r: "))
h = int(input("Enter h: "))
PI = 3.142
cyl = 2*PI*r*h
cone = (1/3)*PI*r*r*h
print("surface area of cylinder:%0.3f and cone:%0.3f"%(cyl,cone))

Enter r: 25
Enter h: 5
surface area of cylinder:785.500 and cone:3272.917

Find the greatest of four nos ( using ‘and’ operator)   using function.

In [0]:
a = int(input("Enter a"))
b = int(input("Enter b"))
c = int(input("Enter c"))
d = int(input("Enter d"))
def grt(a,b,c,d):
    if a>b and a>c and a>d:
        print ("a is greater")
    elif b>a and b>c and b>d:
        print ("b is greater")
    elif c>a and c>b and c>d:
        print ("c is greater")
    else:
        print ("d is greater")
grt(a,b,c,d);

Enter a5
Enter b20
Enter c10
Enter d15
b is greater

#Session 2 Examples programs

Python Program to find the factorial of a number using loop.

In [0]:
n=int(input("Enter number:"))
fact=1

while(n>0):
  fact=fact*n
  n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:5
Factorial of the number is:
120

Python Program to reverse a number using loop

In [0]:
r=0
n=int(input("Enter a number: "))
while(n>0):
  dig=n%10
  r=r*10+dig
  n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 36
The reversed no  is:
63

Write a Python program to construct the following pattern, using a nested for loop.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [0]:
n=5;
for i in range(n):
  for j in range(i):
    print ('*', end="")
  print('')
for i in range(n,0,-1):
  for j in range(i):
    print('*', end="")
  print('')

*
**
***
****
*****
****
***
**
*

Python Program to replace all occurrences of ‘a’ with ‘$’ in a string.

In [0]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:apple
Modified string:
$pple

Python Program to remove the nth index character from a non-empty string.

In [0]:
def remove(string, n):  
  first = string[:n]   
  last = string[n+1:]  
  return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:Hello
Enter the index of the character to remove:3
Modified string:
Helo

Python Program to detect if two strings are anagrams.

In [0]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
  print("The strings are anagrams.")
else:
  print("The strings aren't anagrams.")

Enter first string:Hi
Enter second string:Hi
The strings are anagrams.

Python Program to form a string where the first character and the last character have been exchanged.

In [0]:
def change(string):
  return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:hello
Modified string:
oellh

Python Program to  count number of vowels from a non-empty string.

In [0]:
string=input("Enter string:")
vowels=0
for i in string:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    vowels=vowels+1
    print("Number of vowels are:")
print(vowels)

Enter string:hi
Number of vowels are:
1

Program for Divide by zero error detection

In [0]:
flag = True

def div(a, b):  
  try:
    print("Finally the division of %d/%d is %f" % (a, b,a/b))
    global flag
    flag=False
  except ZeroDivisionError:
    print("Zero Division Error detected")
  else:
    print("Division is successful") 
  finally:
    if flag is True:
      print("Try again")     
    else:
      print("Thank you")
      #global flag
    while flag is True:
      div(int(input("Enter numerator")),int(input("Enter denominator")))

Program for ValueError error detection

In [0]:
while True:
  try:
    x = int(input("Please enter a number: "))
    print(" That was valid number. Thank you")
    break
  except ValueError:
    print("Oops!  That was no valid number.  Try again...")

Please enter a number: 20
 That was valid number. Thank you

#Exercises

Write a program to print the triangle 
i/p  4

1
2    3
3    4   5
4    5   6   7

In [0]:
n=4
r=1
for i in range(n+1):
	for j in range(i):
		print(r,end=" ")
		r=r+1
	print(' ')

1
2 3
4 5 6
7 8 9 10

Enter number 4

*
* *
* * *
* * * *

In [0]:
n=5
for i in range(n):
	for j in range(i):
		print('*',end=" ")
	print(' ')

*
* *
* * *
* * * *

Enter number 5

5
4 5
3 4 5
2 3 4 5

In [0]:
n=5
for i in range(n,0,-1):
	for j in range(i-1,5,1):
		print(j+1,end=" ")
	print(' ')

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

Enter number 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [0]:
n=5
for i in range(n,0,-1):
	for j in range(i,0,-1):
		print(j,end=" ")
	print(' ')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Enter number 4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

Find the length of a string without using len functions

In [0]:
def count_word(string,word):
	ans=string.split(" ")
	count=0
	for occurence in ans:
		if word==occurence:
			count=count+1
	return count
sentence=input("Enter the String")
word_count="a"
print(sentence.split(" "))
print(count_word(sentence,word_count))

Enter the Stringhi hi
['hi', 'hi']
0

Find the no of words and characters in a string

In [0]:
st=input("Enter string: ")
count=0
res=len(st.split())
for i in st:
    count=count+1
print("No. of words is "+str(res))
print("No. of characters is {0}".format(count))

Enter string: hi hi
No. of words is 2
No. of characters is 5

Find the no of occurrences of a word in a string

In [0]:
st=input("Enter string: ")
word=input("Enter a word: ")
c=0
a=st.split()
for i in range(len(a)):
    if a[i]==word:
        c=a.count(word)
print("No. of occurrences of word in a string is {0} ".format(c))

Enter string: hi hi hi
Enter a word: hi
No. of occurrences of word in a string is 3