1.

In [0]:
#dict.clear()
#Removes all elements of dictionary dict

dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

OUTPUT:
Start Len : 2
End Len : 0

2.

In [0]:
#dict.items()
#Returns a list of dict's (key, value) tuple pairs

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

OUTPUT:
Value : dict_items([('Name', 'Zara'), ('Age', 7)])

3.

In [0]:
# dict.copy()
#Returns a copy of dictionary dict

dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

OUTPUT:
New Dictinary : {'Name': 'Zara', 'Age': 7}

4.

In [0]:
#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x). 
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

OUTPUT:
Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}

5.

In [0]:
#Python Program to Sum All the Items in a Dictionary 
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

OUTPUT:
Total sum of values in the dictionary:
879

6.

In [0]:
#Python Program to Remove the Given Key from a Dictionary 
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)	
key=input("Enter the key to delete(a-d):")
if key in d: 
del d[key]
else:
print("Key not found!")
exit(0)
print("Updated dictionary")
print(d)

7.

In [0]:
#Python Program to add name and mark as key->value pair in  a Dictionary and print it.
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
name= input("Enter name %d"%(i))
mark=int(input("Enter mark %d"%(i)))
d[name]=mark
print (d)

# Keys and Values example
d={}
print (" The dictionary elements are")
for i in range(1,21):
d[i]=i**2
print (d)
# To print key and values
print (" Key==> Value are")
for (k,v) in d.items():	
print(k,"==>",v)
# To print key only
print ("\nTo print key only")
for k in d.keys():	
print(k, end="")
#To print value only
print ("\nTo print values only")
for v in d.values():	
print(v, end="")

8.

In [0]:
#Python program to convert 2 digit number   into words

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
print(d[num])
if(num>20 and num<100):
if num%10==0:       
print(d[num])
else:
print(d[num//10*10]+""+d[num%10])

9.

In [0]:
#How to sort a dictionary by values in Python

d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

OUTPUT:
[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]