<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS022_KAVYASHREE_S/Python_workshop_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SESSION 1**

In [ ]:
#Program to find the largest number in a list.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:9
Enter element:5
Enter element:4
Enter element:8
Enter element:10
Largest element is: 10

In [ ]:
#Python Program to put the even and odd elements in a list into two different lists.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
even=[]
odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
The even list [2, 4]
The odd list [1, 3, 5]

In [ ]:
#Python Program to merge two lists and sort it.
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:1
Enter element:3
Enter element:5
Enter element:7
Enter element:9
Enter number of elements:4
Enter element:2
Enter element:4
Enter element:6
Enter element:8
Sorted list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Python Program to sort the list according to the second element in the sublist.

a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp

print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [ ]:
#Python Program to find the second largest number in a list using bubble sort. 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:5
Enter element:4
Enter element:2
Enter element:6
Enter element:1
Enter element:8
Second largest number is: 6

In [ ]:
#Program to create a list of tuples with the first element as the number and the second element as the square of the number. 
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:7
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)]

In [ ]:
#Python Program to generate random numbers from 1 to 20 and append them to the list.

import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [16, 1, 5, 16, 20]

In [ ]:
#Write python program to have a list of words  to sort them from longest to shortest using list of tuples

txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
  t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
  res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [ ]:
#Python program that assigns variables

# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

In [ ]:
#Python program that searches tuples
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
  print("Cat found")

# Search for a value not present.
if "bird" not in pair:
  print("Bird not found")

Cat found
Bird not found

**SESSION 2**

In [ ]:
#dict.clear()
#Removes all elements of dictionary dict

dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

In [ ]:
#dict.items()
#Returns a list of dict's (key, value) tuple pairs

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [ ]:
# dict.copy()
#Returns a copy of dictionary dict

dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

In [ ]:
#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x). 
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Python Program to Sum All the Items in a Dictionary 
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [ ]:
#Python Program to Remove the Given Key from a Dictionary 
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
  del d[key]
else:
  print("Key not found!")
  exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):c
Updated dictionary
{'a': 1, 'b': 2, 'd': 4}

In [ ]:
#Python Program to add name and mark as key->value pair in  a Dictionary and print it.
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print (d)

Enter no of records3
Enter name 1pqr
Enter mark 155
Enter name 2xyz
Enter mark 265
Enter name 3abc
Enter mark 378
{'pqr': 55, 'xyz': 65, 'abc': 78}

In [ ]:
#Python Program to count the number of lines in a text file. 
fname = input("Enter file name: ")
num_lines = 0
with open(fname, 'r') as f:
for line in f:
num_lines += 1
print("Number of lines:")
print(num_lines)

In [ ]:
#Python Program to count the number of words in a text file. 
fname = input("Enter file name: ")
num_words = 0
with open(fname, 'r') as f:
for line in f:
words = line.split()
num_words += len(words)
print("Number of words:")
print(num_words)

In [ ]:
Python Program to count the occurrences of a word in a text file.
fname = input("Enter file name: ")
word=input("Enter word to be searched:")
k = 0

with open(fname, 'r') as f:
for line in f:
words = line.split()
for i in words:
if(i==word):
k=k+1
print("Occurrences of the word:")
print(k)

In [ ]:
#Python Program to copy the contents of one file into another. 
with open("foo.txt") as f:
with open("out.txt", "w") as f1:
for line in f:
f1.write(line)

In [ ]:
#Python Program to read the contents of the file in reverse order.
filename=input("Enter file name: ")

with open (filename,'r') as f:
for line in f:
l=line.split()
l.reverse() 
st= "".join(l)
print (st)