<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS022_KAVYASHREE_S/Workshop_day_2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SESSION 1**

#LIST EXERCISES

#print multiples of 3 upto 200 using a list

In [ ]:
a=[]
a=[3*x for x in range(1,200)]
print("the multiples of 3 are:",a)

the multiples of 3 are: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597]

#print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
a=[]
a=[x for x in range(1000,2000)]
div5=[]
div7=[]
for i in a:
  if(i%5==0):
    div5.append(i)
  elif(i%7==0):
    div7.append(i)
print("no divisible by 5",div5)
print("no divisible by 7",div7)

no divisible by 5 [1000, 1005, 1010, 1015, 1020, 1025, 1030, 1035, 1040, 1045, 1050, 1055, 1060, 1065, 1070, 1075, 1080, 1085, 1090, 1095, 1100, 1105, 1110, 1115, 1120, 1125, 1130, 1135, 1140, 1145, 1150, 1155, 1160, 1165, 1170, 1175, 1180, 1185, 1190, 1195, 1200, 1205, 1210, 1215, 1220, 1225, 1230, 1235, 1240, 1245, 1250, 1255, 1260, 1265, 1270, 1275, 1280, 1285, 1290, 1295, 1300, 1305, 1310, 1315, 1320, 1325, 1330, 1335, 1340, 1345, 1350, 1355, 1360, 1365, 1370, 1375, 1380, 1385, 1390, 1395, 1400, 1405, 1410, 1415, 1420, 1425, 1430, 1435, 1440, 1445, 1450, 1455, 1460, 1465, 1470, 1475, 1480, 1485, 1490, 1495, 1500, 1505, 1510, 1515, 1520, 1525, 1530, 1535, 1540, 1545, 1550, 1555, 1560, 1565, 1570, 1575, 1580, 1585, 1590, 1595, 1600, 1605, 1610, 1615, 1620, 1625, 1630, 1635, 1640, 1645, 1650, 1655, 1660, 1665, 1670, 1675, 1680, 1685, 1690, 1695, 1700, 1705, 1710, 1715, 1720, 1725, 1730, 1735, 1740, 1745, 1750, 1755, 1760, 1765, 1770, 1775, 1780, 1785, 1790, 1795, 1800, 1805, 1810, 1815, 1820, 1825, 1830, 1835, 1840, 1845, 1850, 1855, 1860, 1865, 1870, 1875, 1880, 1885, 1890, 1895, 1900, 1905, 1910, 1915, 1920, 1925, 1930, 1935, 1940, 1945, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995]
no divisible by 7 [1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988]

#Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
a=[]
n=int(input("enter the no of names"))
for i in range(1,n+1):
  b=input("enter a name:")
  a.append(b)
a.sort()
print(a)
a.reverse()
print(a)

enter the no of names3
enter a name:XYZ
enter a name:ABC
enter a name:PQR
['ABC', 'PQR', 'XYZ']
['XYZ', 'PQR', 'ABC']

#Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
a=[]
d=[]
a=list(range(500,1001))
for i in range(500,1001):
    b=[i for i in a if i%5==0]
for j in range(500,1001):
    sq=[j for j in b if (int(j**0.5))**2==j]
print(sq)

[625, 900]

#TUPLE EXERCISES

#Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [ ]:
txt = input("Enter a string: ")
words = txt.split()
t = []
for word in words:
   t.append((len(word), word))
res = []
for length, word in t:
    res.append(word)
max=len(res[0])
temp=res[0]
for i in res:
    if(len(i)>max):
       max=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter a string: hello hihi world hohohoh
The word with the longest length is:
hohohoh

#Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno

In [ ]:
list1=[]
list2=[]
a=[]
n=int(input("Enter no of students "))
for i in range(0,n):
    roll=int(input("Enter roll no for student {0}: ".format(i+1)))
    list1.append(roll)
    mark=int(input("Enter marks: "))
    list2.append(mark)
for i in range(0,n):
    res=(list1[i], list2[i])
    a.append(res)
import operator
a.sort(key = operator.itemgetter(1),reverse=True)
print(a)

Enter no of students 3
Enter roll no for student 1: 10
Enter marks: 98
Enter roll no for student 2: 5
Enter marks: 75
Enter roll no for student 3: 22
Enter marks: 99
[(22, 99), (10, 98), (5, 75)]

#Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [ ]:
l=[]
n=int(input("Enter number of employees: "))
for i in range(n):
  na=input("Enter the name ")
  no=int(input("Enter salary "))
  l.append((na,no))
import operator
l.sort(key = operator.itemgetter(0))
print(l)

Enter number of employees: 3
Enter the name xyz
Enter salary 20000
Enter the name abc
Enter salary 15000
Enter the name pqr
Enter salary 26000
[('abc', 15000), ('pqr', 26000), ('xyz', 20000)]

#**SESSION 2**

#Dictionary Exercises

#1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
l=[]
n=int(input("Enter number of students: "))
for i in range(n):
  na=input("Enter the name ")
  no=int(input("Enter mark "))
  l.append((na,no))
import operator
l.sort(key = operator.itemgetter(1),reverse=True)
print(l)

Enter number of students: 3
Enter the name xyz
Enter mark 98
Enter the name abc
Enter mark 68
Enter the name pqr
Enter mark 85
[('xyz', 98), ('pqr', 85), ('abc', 68)]

#2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [1]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
sort_d= sorted(d.items())
print (sort_d)

Enter n: 3
Enter name 1: xyz
Enter salary 1: 30000
Enter name 2: abc
Enter salary 2: 26000
Enter name 3: pqr
Enter salary 3: 40000
[('abc', 26000), ('pqr', 40000), ('xyz', 30000)]

#3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and sum, max, min and average of the salaries

In [2]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary: "))
    d[name]=sal
sort_d= sorted(d.items(), key=operator.itemgetter(1))
print (sort_d)
print ("Sum= "+str(sum(d.values())))
print ("Max. salary= "+str(max(d.values())))
print ("Min salary= "+str(min(d.values())))
print ("Average salary= "+str(sum(d.values())/n))

Enter n: 3
Enter name 1: xyz
Enter salary: 35000
Enter name 2: abc
Enter salary: 30000
Enter name 3: pqr
Enter salary: 40000
[('abc', 30000), ('xyz', 35000), ('pqr', 40000)]
Sum= 105000
Max. salary= 40000
Min salary= 30000
Average salary= 35000.0

#4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [8]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
  name= input("Enter name %d:"%(i))
  sal=int(input("Enter salary:"))
  d[name]=sal
l=[(k,v) for (k,v) in d.items() if v>2000 and v<4000]
print(l)

Enter no of records3
Enter name 1:xyz
Enter salary:3000
Enter name 2:pqr
Enter salary:2500
Enter name 3:abc
Enter salary:5000
[('xyz', 3000), ('pqr', 2500)]

#5.	Python program to convert a 3 digit number  into words

In [13]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}

num=int(input("Enter the integer between 100 to 999:"))
if (num==100):
  print(d[num])
if(num>100 and num<1000):
  if num%10==0:       
    print(d[num])
  else:
    print(d[num//100*100]+" "+d[(num%100)//10*10]+" "+d[(num%100)%10])

Enter the integer between 100 to 999:247
two hundred fourty seven

#**FILE EXERCISES**

#Python Program to count the total number of charaters (except blank space) in a text file.

In [25]:
fname = input("Enter file name: ")
num_words = 0
ccount=0
with open(fname, 'r') as f:
  for line in f:
    words = line.split()
    for w in words:
      for ch in w:
        ccount=ccount+1
print("Number of character:")
print(ccount)

Enter file name: doc.txt
Number of character:
37

#Python Program to print all the numbers present in a text file with its total number of occurrence.

In [26]:
fname = input("Enter file name: ")

num = 0
ccount=0
with open(fname, 'r') as f:
  for line in f:
    words = line.split()
    for w in words:
      if w.isdigit():
        print(w)
        num+=1

print("Total occurenece of numbers are:")
print(num)

Enter file name: doc.txt
1234
12345
1234567
Total occurenece of numbers are:
3

#Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [27]:
rfile=input('Enter the file to be read')
wfile=input('Enter the file to be appended with')

with open(rfile,"r") as f:
  with open(wfile,"a") as f1:
    for line in f:
      f1.write(line)
f.close()
f1.close()

with open(wfile,"r") as f:
  for line in f:
    print(line)

Enter the file to be readdoc.txt
Enter the file to be appended withexample.txt
hello

im kavya

how are you

1234 12345 1234567

#Python Program to count the number of blank spaces in a text file.

In [29]:
fname = input("Enter file name: ")

n= 0
t=0
ccount=0
with open(fname, 'r') as f:
  for line in f:
    n = line.count('')
    t+=n     
print("Number of blank spaces are:")
print(t)

Enter file name: example.txt
Number of blank spaces are:
50

#Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [30]:
fname = input("Enter file name: ")
f1=open("d.txt","w")
ccount=0
with open(fname, 'r') as f:
  for line in f:
    l= line.title()
    f1.write(l)
f1.close()
with open("d.txt", 'r') as f1:
  for line in f1:
    print(line)

Enter file name: example.txt
Hello

Im Kavya

How Are You

1234 12345 1234567