<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS022_KAVYASHREE_S/Workshop_day_1_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SESSION 1**

#1.	Find the compound interest for the given p,n,r  (formula : p(1+n*r/100)n )

In [1]:
import cmath
p=int(input('Enter p: '))
n=int(input('Enter n: '))
r=int(input('Enter r: '))
CI=(p*(1+n*r/100))**n
print('The Compound Interest is {0}'.format(CI))

Enter p: 100
Enter n: 5
Enter r: 2
The Compound Interest is 16105100000.00001

#2.	Convert centegrade to farenheit  ( f= 9/5*c+32)

In [2]:
import cmath
c = int(input("Enter c"))
f = (9/5)*c+32
print("farhenheit value of {0} is {1}".format(c,f))

Enter c98
farhenheit value of 98 is 208.4

#3.	Find the greater of two nos

In [3]:
a = int(input("Enter a"))
b = int(input("Enter b"))
if a>b:
    print('a is greater')
else:
    print ('b is greater')

Enter a10
Enter b20
b is greater

#4.	Write a program for finding surface areas of cylinder and cone (2*PI*r*r*h, 1/3*PI*r*r*h) using function

In [4]:
import cmath
r = int(input("Enter r: "))
h = int(input("Enter h: "))
PI = 3.142
cyl = 2*PI*r*h
cone = (1/3)*PI*r*r*h
print("surface area of cylinder:%0.3f and cone:%0.3f"%(cyl,cone))

Enter r: 5
Enter h: 10
surface area of cylinder:314.200 and cone:261.833

#5.	Find the greatest of four nos ( using ‘and’ operator)   using function

In [5]:
a = int(input("Enter a"))
b = int(input("Enter b"))
c = int(input("Enter c"))
d = int(input("Enter d"))
def grt(a,b,c,d):
    if a>b and a>c and a>d:
        print ("a is greater")
    elif b>a and b>c and b>d:
        print ("b is greater")
    elif c>a and c>b and c>d:
        print ("c is greater")
    else:
        print ("d is greater")
grt(a,b,c,d);

Enter a15
Enter b10
Enter c20
Enter d32
d is greater

#6.	Write a  menu program to perform the operations ( ODDorEven, Factorial, ODDNoUptoN, PrimeUptoN ) using functions for two nos with  menu choice

In [1]:
def fact(n):
    factorial = 1
    if n < 0:
        print("Invalid number")
    elif n == 0:
        print("1")
    
    else:
        for i in range(1,n + 1):
            factorial = factorial*i
        print("The factorial of ",n," is ",factorial)

def odd_even(n):
    if (n%2==0):
        print("Even")
    else:
        print("Odd")    
def odd_upto(n):
    for i in range(n):
        if i % 2 != 0:
            print(i)

def prime_upto(n):
  for num in range(2, n + 1):
   # all prime numbers are greater than 1
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

loop = 1
while loop == 1:
    print("MENU " )
    print("1. Factorial")
    print("2. Odd or Even")
    print("3. Odd no Up to")
    print("4. Prime no Up to")
    print("5. Exit\n")
    try:
        choice = int(input("Choose your option: "))
    except:
            print('please enter a valid number ')
    print(" ")

    if choice == 1:
        x = int(input("Enter The Number: "))
        fact(x)

    if choice == 2:
        x = int(input("Enter The Number: "))
        odd_even(x)

    if choice == 3:
        x = int(input("Enter The Number: "))
        print("The number up to ",odd_upto(x))

    if choice == 4:
        x = int(input("Enter The Number: "))
        print("The number upto ",prime_upto(x))

    elif choice == 5:
            loop = 0
        
    else:
        print("please choice a valid option from 1 to 5")
        choice=0

MENU
1. Factorial
2. Odd or Even
3. Odd no Up to
4. Prime no Up to
5. Exit

Choose your option: 1

Enter The Number: 5
The factorial of  5  is  120
please choice a valid option from 1 to 5
MENU
1. Factorial
2. Odd or Even
3. Odd no Up to
4. Prime no Up to
5. Exit

Choose your option: 2

Enter The Number: 5
Odd
please choice a valid option from 1 to 5
MENU
1. Factorial
2. Odd or Even
3. Odd no Up to
4. Prime no Up to
5. Exit

Choose your option: 4

Enter The Number: 15
2
3
5
7
11
13
The number upto  None
MENU
1. Factorial
2. Odd or Even
3. Odd no Up to
4. Prime no Up to
5. Exit

Choose your option: 5

#**SESSION 2**

#1 Write a program to print the triangle 
#i/p  4

#1
#2    3
#3    4   5
#4    5   6   7

In [48]:
n=int(input("Enter number "))
r=1
for i in range(n+1):
  for j in range(i):
    print(r,end=" ")
    r=r+1
  print('')

Enter number 4

1
2 3
4 5 6
7 8 9 10

#2 Enter number 4
#*
#* *
#* * *
#* * * *

In [47]:
n=int(input("Enter number "))
for i in range(n+1):
  for j in range(i):
    print('*',end=" ")
  print(' ')

Enter number 4

*
* *
* * *
* * * *

#3 Enter number 5

#5
#4 5
#3 4 5
#2 3 4 5
#1 2 3 4 5

In [46]:
n=int(input("Enter number "))
for i in range(n,0,-1):
  for j in range(i-1,5,1):
     print(j+1,end=" ")
  print(' ')

Enter number 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#4  Enter number 5

#5 4 3 2 1
#4 3 2 1
#3 2 1
#2 1
#1

In [45]:
n=int(input("Enter number "))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print(' ')

Enter number 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#6 Find the length of a string without using len functions

In [52]:
string=input("Enter string:")
count=0
for i in string:
  count=count+1
print("Length of the string is:"+str(count))

Enter string:hello world
Length of the string is:11

#7 Find the no of words and characters in a string

In [54]:
string=input("Enter string:")
char=0
word=1
for i in string:
  char=char+1
  if(i==' '):
    word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:hello world
Number of words in the string:
2
Number of characters in the string:
11

#8 Find the no of occurrences of a word in a string

In [58]:
string=input("Enter string:")
word=input("Enter word:")
a=[]
count=0
a=string.split(" ")
for i in range(0,len(a)):
  if(word==a[i]):
    count=count+1
print("Count of the word is:")
print(count)

Enter string:hello hi how are you hi hi
Enter word:hi
Count of the word is:
3