<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS054_CHAITANYA_B_N/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


SESSION 1 program

In [3]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:4
Enter element:4
Enter element:3
Enter element:8
Enter element:4
Largest element is: 8

Python Program to put the even and odd elements in a list into two different lists.

In [5]:


a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  even=[]
  odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:6
Enter element:4
Enter element:3
Enter element:5
Enter element:1
The even list [6, 4]
The odd list [3, 5, 1]

Python Program to merge two lists and sort it.

In [6]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
  new=a+c
  new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:7
Enter element:8
Enter element:9
Enter element:4
Enter element:1
Enter number of elements:3
Enter element:5
Enter element:6
Enter element:4
Sorted list is: [1, 4, 4, 5, 6, 7, 8, 9]

Python Program to sort the list according to the second element in the sublist.

In [7]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort.

In [8]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:4
Enter element:5
Enter element:1
Second largest number is: 4

Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [9]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:5
Enter the upper range:4
[]


Python Program to generate random numbers from 1 to 20 and append them to the list.

In [10]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:3
Randomised list is:  [12, 13, 18]


Session 2 programs

Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [12]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    mark=int(input("Enter mark %d: "%(i)))
    d[name]=mark
sort_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print (sort_d)

Enter n: 3
Enter name 1: avin
Enter mark 1: 55
Enter name 2: rock
Enter mark 2: 45
Enter name 3: loki
Enter mark 3: 56
[('loki', 56), ('avin', 55), ('rock', 45)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [13]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
sort_d= sorted(d.items())
print (sort_d)

Enter n: 4
Enter name 1: koli
Enter salary 1: 55000
Enter name 2: raju
Enter salary 2: 65000
Enter name 3: rani
Enter salary 3: 50000
Enter name 4: jeeva
Enter salary 4: 45000
[('jeeva', 45000), ('koli', 55000), ('raju', 65000), ('rani', 50000)]

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [14]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
salary={x for x in d.values() if x>2000 and x<4000}
print("Salary >2000 and < 4000 is ",name,sal)

Enter n: 3
Enter name 1: greesh
Enter salary 1: 40000
Enter name 2: pavan
Enter salary 2: 45000
Enter name 3: naveen
Enter salary 3: 55000
Salary >2000 and < 4000 is  naveen 55000