<a href="https://colab.research.google.com/github/alvas-education-foundation/ISE_3rd_Year_Coding_challenge/blob/master/4AL17IS053_ZEENAL/Workshopday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to find the largest number in a list.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:3
Enter element:4
Enter element:1
Enter element:7
Enter element:6
Largest element is: 7

Python Program to put the even and odd elements in a list into two different lists.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  even=[]
  odd=[]
for j in a:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:8
Enter element:3
Enter element:6
Enter element:1
Enter element:10
Enter element:15
Enter element:5
Enter element:3
Enter element:7
The even list [6, 10]
The odd list [3, 1, 15, 5, 3, 7]

Python Program to merge two lists and sort it.

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
  new=a+c
  new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:4
Enter element:8
Enter element:2
Enter element:6
Enter element:1
Enter number of elements:2
Enter element:3
Enter element:9
Sorted list is: [1, 2, 3, 4, 6, 8, 9]

Python Program to sort the list according to the second element in the sublist.

In [ ]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:5
Enter element:8
Enter element:2
Enter element:5
Enter element:9
Enter element:4
Second largest number is: 8

Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:8
Enter the upper range:20
[(8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)]

Python Program to generate random numbers from 1 to 20 and append them to the list.

In [ ]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [14, 11, 19, 18, 19]

#List  exercises

print multiples of 3 upto 200 using a list

In [ ]:
d = [] 
for x in range(3,201,3):
    d.append(x)
print(d)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
a = []
d = []
a = list(range(1000,2001))
for i in range(0,len(a)):
    if( a[i]%5 == 0 and a[i]%7 == 0):
        d.append(a[i])
print(d)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
a = []
n = int(input("enter the no of names:"))
for i in range(0,n):
    b = input("enter the name: ")
    a.append(b)
a.sort()
print("the sorted order is:" +str(a))
a.reverse()
print("the reverse order is:" +str(a))

enter the no of names:5
enter the name: priya
enter the name: geetha
enter the name: kavya
enter the name: rachana
enter the name: bindu
the sorted order is:['bindu', 'geetha', 'kavya', 'priya', 'rachana']
the reverse order is:['rachana', 'priya', 'kavya', 'geetha', 'bindu']

Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
import cmath
a = []
d = []
a = list(range(500,1001))
for i in range(500,1001):   
    mul=[i for i in a if i%5==0]
for j in range(500,1001):
    perf=[j for j in mul if(int(j**0.5))**2==j]
print(perf)

[625, 900]

#Tuple Examples

In [ ]:
Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
  t.append((len(word), word))
  t.sort(reverse=True)

  res = list()
for length, word in t:
  res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

Python program that assigns variables

In [ ]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

Python program that searches tuples

In [ ]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
  print("Cat found")

# Search for a value not present.
if "bird" not in pair:
  print("Bird not found")

Cat found
Bird not found

#Exercises- Tests

Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    mark=int(input("Enter mark %d: "%(i)))
    d[name]=mark
sort_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print (sort_d)

Enter n: 3
Enter name 1: geetha
Enter mark 1: 50
Enter name 2: rachana
Enter mark 2: 52
Enter name 3: kavya
Enter mark 3: 51
[('rachana', 52), ('kavya', 51), ('geetha', 50)]

Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
sort_d= sorted(d.items())
print (sort_d)

Enter n: 3
Enter name 1: bindu
Enter salary 1: 50000
Enter name 2: rachitha
Enter salary 2: 5000
Enter name 3: hrithik
Enter salary 3: 45000
[('bindu', 50000), ('hrithik', 45000), ('rachitha', 5000)]

Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and sum, max, min and average of the salaries

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
sort_d= sorted(d.items(), key=operator.itemgetter(1))
print (sort_d)
print ("Sum= "+str(sum(d.values())))
print ("Max. salary= "+str(max(d.values())))
print ("Min salary= "+str(min(d.values())))
print ("Average salary= "+str(sum(d.values())/n))

Enter n: 5
Enter name 1: likith
Enter salary 1: 50000
Enter name 2: yogesh
Enter salary 2: 60000
Enter name 3: praneeth
Enter salary 3: 40000
Enter name 4: hrithik
Enter salary 4: 45000
Enter name 5: sanjatha
Enter salary 5: 35000
[('sanjatha', 35000), ('praneeth', 40000), ('hrithik', 45000), ('likith', 50000), ('yogesh', 60000)]
Sum= 230000
Max. salary= 60000
Min salary= 35000
Average salary= 46000.0

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
import operator
d={}
n=int(input("Enter n: "))
for i in range(1,n+1):
    name= input("Enter name %d: "%(i))
    sal=int(input("Enter salary %d: "%(i)))
    d[name]=sal
salary={x for x in d.values() if x>2000 and x<4000}
print("Salary >2000 and < 4000 is ",name,sal)

Enter n: 3
Enter name 1: ramya
Enter salary 1: 4000
Enter name 2: rashmitha
Enter salary 2: 2000
Enter name 3: rashmi
Enter salary 3: 6000
Salary >2000 and < 4000 is  rashmi 6000

Python program to convert a 3 digit number  into words

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}

num=int(input("Enter the integer between 100 to 999:"))
if (num==100):
  print(d[num])
if(num>100 and num<1000):
  if num%10==0:       
    print(d[num])
  else:
    print(d[num//100*100]+""+d[(num%100)//10*10]+" "+d[(num%100)%10])

Enter the integer between 100 to 999:100
hundred

#Files Exercises

Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:
fname = input("Enter file name: ")
count = 0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        st = "".join(words)
        count = count+len(st)
print(count)

Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [ ]:
fname 1 = input("Enter 1st file name: ")
fname 2 = input("Enter 2st file name: ")
with open(fname 1) as f1:
  with open(fname 2) as f2:
    for line in f1:
      f=f2.write(line)

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
text = open("sample.txt", "r") 
d = dict() 
for line in text: 
    line = line.strip() 
    line = line.lower() 
    words = line.split(" ") 
    for word in words:
        if word in d: 
            d[word] = d[word] + 1
        else: 
            d[word] = 1
for key in list(d.keys()): 
    print(key, ":", d[key])

Python Program to count the number of blank spaces in a text file.

In [ ]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [ ]:
fname = input("Enter file name: ")
 
with open(fname, 'r') as f:
    for line in f:
        l=line.title()
        print(l)

Python Program to find the factorial of a number using loop

In [ ]:
n=int(input("Enter number:"))
fact=1

while(n>0):
  fact=fact*n
  n=n-1
print("Factorial of the number is: ")
print(fact)